@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Peralta&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

:root {

}

body {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1em;
    gap: 1em;
    width: 100%;
    max-width: 600px;
}

.icone-jogo {
    display: grid;
    width: 350px;
    height: 350px;
    max-width: 400px;
}

.icone-jogo-linhas {
    grid-area: 1/1;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.icone-linha {
    background-color: black;
    border-radius: 8px;
    width: 0px;
    height: 15px;
    transition: width 1s;
}

.icone-jogo-linhas:nth-child(2) {
    transform: rotate(90deg) scaleY(-1);
}

.icone-jogo-linhas-animacao {
    width: 100%;
    transition: width 1s;
}

/* Menu */

.menu {
    display: grid;
    grid-template: auto auto auto / 1fr 1fr;
    gap: 1em;
    width: 100%;
    max-width: 600px;
}

.menu-opcao {
    display: flex;
    flex-flow: column;
    padding: 1em;
    background-color: bisque;
    border-radius: 16px;
}

a.botao {
    text-decoration: none;
    text-align: center;
}

button.botao {
    border: none;
    cursor: pointer;
}

a.botao:hover, button.botao:hover {
    background-color: rgb(223, 87, 87);
}

.menu-opcao:nth-child(1) {
    grid-area: 1 / 1 / span 1 / span 1;
}

.menu-opcao:nth-child(2) {
    grid-area: 1 / 2 / span 1 / -1;
}

.menu-opcao:nth-child(3) {
    grid-area: 2 / 1 / span 1 / -1;
}

.menu-opcao:nth-child(4) {
    grid-area: 3 / 1 / span 1 / span 1;
}

.menu-opcao:nth-child(5) {
    grid-area: 3 / 2 / span 1 / -1;
}

.modo-selecionado {
    background-color: brown;
    color: white;
}

.oculto {
    display: none;
}

/* Menu - Melhor de */

.menu-opcao-melhor-de {
    display: flex;
    justify-content: space-evenly;
}

/* Botão jogar */

.botao-jogar {
    padding: .5em;
}