@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Peralta&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

:root {
    --cor-primaria: #c03b3b;
    --cor-secundaria: #212020;

    --fundo-pagina: #262626;
    --fundo-blocos: #353535;

    --texto-cor: #fff;
    --texto-cor-alt: #000;
}

body {
    width: 100%;
    height: 100dvh;
    background-color: var(--fundo-pagina);
    color: var(--texto-cor);
    display: flex;
    justify-content: center;
    
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1em;
    gap: 1em;
    width: 100%;
    max-width: 600px;
}

/* Ícone */

.icone-jogo {
    display: grid;
    width: 100%;

    max-width: 300px;
    aspect-ratio: 1/1;
}

.icone-jogo-linhas {
    grid-area: 1/1;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.icone-linha {
    background-color: var(--fundo-blocos);
    border-radius: 8px;
    width: 0px;
    height: 15px;
}

#icone-linha-1 {
    background-color: #c03b3b;
}

#icone-linha-2 {
    background-color: #932e2e;
}

#icone-linha-3 {
    background-color: #c12323;
}

#icone-linha-4 {
    background-color: #831414;
}

.icone-jogo-linhas:nth-child(2) {
    transform: rotate(90deg) scaleY(-1);
}

.icone-jogo-linhas-animacao {
    width: 100%;
    transition: width .5s;
}

/* Menu */

.menu {
    display: grid;
    grid-template: auto auto auto / 1fr 1fr;
    gap: 1em;
    width: 100%;
    max-width: 600px;
}

.menu-opcao {
    display: flex;
    flex-flow: column;
    padding: 1em;
    background-color: var(--fundo-blocos);
    color: var(--texto-cor);
    border-radius: 16px;
}

a.botao {
    text-decoration: none;
    text-align: center;
    color: var(--texto-corc);
    transition: background-color .2s;
}

button.botao {
    border: none;
    cursor: pointer;
    transition: background-color .2s;
}

a.botao:hover, button.botao:hover {
    background-color: #5d5d5d;
}

.menu-opcao:nth-child(1) {
    grid-area: 1 / 1 / span 1 / span 1;
}

.menu-opcao:nth-child(2) {
    grid-area: 1 / 2 / span 1 / -1;
}

.menu-opcao:nth-child(3) {
    grid-area: 2 / 1 / span 1 / -1;
}

.menu-opcao:nth-child(4) {
    grid-area: 3 / 1 / span 1 / span 1;
}

.menu-opcao:nth-child(5) {
    grid-area: 3 / 2 / span 1 / -1;
}

.modo-selecionado {
    background-color: brown;
    color: white;
}

.oculto {
    display: none !important;
}

/* Menu 2 jogadores */

.opcoes-dois-jogadores {
    display: flex;
    flex-flow: column;
    gap: .8em;
}

.menu-opcao-jogadores {
    display: grid;
    grid-template: auto auto / auto 1fr;
    gap: .5em .3em;
}

.menu-opcao-jogadores label {
    display: flex;
    align-items: flex-end;
}

.menu-opcao-jogadores input {
    padding: .3em;
    border-radius: 10px;
    border: none;
}

/* Menu - Melhor de */

.menu-opcao-melhor-de {
    display: flex;
    justify-content: space-evenly;
}

/* Botão jogar */

.botao-jogar {
    padding: .5em;
}