main {
    padding: initial;
    gap: initial;
    display: flex;
    justify-content: center;
}

.partida-dados-jogadores {
    display: flex;
    flex-flow: column;
    width: 100%;
    background-color: var(--cor-primaria);
    padding: 1em;
    gap: 1em;
    position: fixed;
    z-index: 10;
}

.pdj-o {
    top: 0;
    left: 0;
    transform: rotate(180deg);
}

.pdj-x {
    bottom: 0;
    left: 0;
}

.partida-dados-pts {
    display: grid;
    grid-template: auto / auto 1fr auto;
}

.partida-dados-pts-simbolo, .partida-dados-pts-pontuacao {
    font-size: 2em;
}

.partida-dados-pts-jogador {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partida-vez {
    text-align: center;
}

.opacity-oculto {
    opacity: 0;
}

/* Partida */

.partida {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    height: auto;
    aspect-ratio: 1/1;
    display: grid;
    gap: .8em;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    background-color: grey;
}

.partida-area {
    background-color: var(--fundo-pagina);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    cursor: pointer;
}