main {
    padding: initial;
    gap: initial;
}

.partida-dados-jogadores {
    display: flex;
    flex-flow: column;
    width: 100%;
    background-color: aquamarine;
    padding: 1em;
    gap: 1em;
}

.partida-dados-pts {
    display: grid;
    grid-template: auto / auto 1fr auto;
}

.partida-dados-pts-jogador {
    text-align: center;
}

.partida-vez {
    text-align: center;
}

/* Partida */

.partida {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    height: auto;
    aspect-ratio: 1/1;
    display: grid;
    gap: 1em;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.partida-area {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    cursor: pointer;
}