main {
    padding: initial;
    gap: initial;
    display: flex;
    justify-content: center;
}

.partida-dados-jogadores {
    display: flex;
    flex-flow: column;
    width: 100%;
    background-color: var(--cor-primaria);
    padding: 1em;
    gap: 1em;
    position: fixed;
    z-index: 10;
}

.pdj-o {
    top: 0;
    left: 0;
    transform: rotate(180deg);
}

.pdj-x {
    bottom: 0;
    left: 0;
}

.partida-dados-pts {
    display: grid;
    grid-template: auto / auto 1fr auto;
}

.partida-dados-pts-simbolo, .partida-dados-pts-pontuacao {
    font-size: 2em;
}

.partida-dados-pts-jogador {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partida-vez {
    text-align: center;
}

.opacity-oculto {
    opacity: 0;
}

/* Partida */

.partida {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    height: auto;
    aspect-ratio: 1/1;
    display: grid;
    gap: .8em;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    background-color: grey;
}

.partida-area {
    background-color: var(--fundo-pagina);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    cursor: pointer;
}

/* Modais */

.fade {
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(23, 23, 23, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.modal {
    width: 90%;
    max-width: 400px;
    min-height: 70px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--fundo-blocos);
    padding: 1em;
    border-radius: 16px;
    z-index: 15;
}

.modal p {
    font-size: 1.3em;
    color: var(--texto-cor);
}

.modal button {
    padding: .4em;
    font-size: 1.2em;
    border: 3px solid var(--cor-primaria);
    border-radius: 16px;
    background-color: transparent;
    color: var(--cor-primaria);
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;
}

.modal button:hover {
    background-color: var(--cor-primaria);
    color: var(--texto-cor);
}

#vitoria-modal {
    display: flex;
    flex-flow: column;
}

#vitoria-modal > div {
    display: flex;
    flex-flow: column;
    gap: 1em;
}